language: node_js
node_js:
- '4'
dist: trusty
sudo: enabled
before_deploy: "sudo dpkg --add-architecture i386 && sudo apt-get update && sudo apt-get install -y wine && npm run build"
deploy:
  provider: releases
  api_key:
    secure: jxiuNqPUo3mm20ZhygPc3efocLe8VRQm7J+ItB/S+UtquLTKV0/ZkUkV/L3OwvaEhMav9pNs8puBhyzkSb5UP5C0ihRhCSSgwGbsrmcvnY3OdVg29pP8az2PtA3GFvag4uNXz4LV5kAKWA5VWnLvNBC5TapFjN1QGnrR2AfKSddDt+NHr4h6d6EXEOhRd04/yW603MA+wFgf9tQQsIfYBfHpjpxFZfsJoVM04SFaD66oJu9MM0/loa8ex1DX7NDrOWewU3EzubB+31lUMw1TthPf1M7K773Dly0Hg7GIaJbxRq/rmgcVyTFpc8KIGjvFkpwJOQ4MatIJMiXCRyE803DotsTHNWzRCXMHkyujwsZbCCvSonxyoD1Nw/izTycgMRpA+g8JPNlSsZcPwJ7WSLAJHx1T67O10hglM/Z9S5X1UuuM0pk823qdt1umy23Gx5+FCfPBefYHorrodSyK2XCECegNn+3MnvjflqXDrCYcSwLmLsibkxpPwYwwY4D+hVA333K4KYineNPm+G3NMUojNzrhdhdSZAthdbA2DcMFMC99onxFini5sC4xlXXqzfGEjhMjb0kvZXkiBLO4UYmIkuBH353v8DCA+QuOhvzmwPFwaXHQflgtuBPD1sTZ+MnzdvCYwyNZswowZ3x04TD6Cd9dsXL75ZpFyMO0E18=
  file_glob: true
  file: "dist/Trello-*.zip"
  skip_cleanup: true
  on:
    tags: true
